:root{
--vinho: #7A1F2B;
/* letra cursiva*/
--vibes:'Great Vibes', cursive;
--cinza: rgb(70, 69, 69);
--fundo: #bdbdbd;
}




.poup{
position: fixed;
width: 200px;
left: 315px;
bottom: 127px;
}
.barss{
background-color: white;
width: 24px;
border-radius: 10px;
border: 1px solid transparent;
}
.meuniinpoup{
  width: 100px;
  background-color:var(--fundo);
  left: -110px;
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column;
display: none;
}
.itemsinpoup{

text-decoration: none;
color: black;

}
.buttonpoup{
background-color: transparent;
border: transparent solid;
margin-left: -5px;
}
.meuniinpoup.active{
 display: block;
}