*{
  margin-top: 0px;
  text-decoration: none;

}

html, body {
  max-width: 100%;
}

:root{
--vinho: #7A1F2B;
/* letra cursiva*/
--vibes:'Great Vibes', cursive;
--cinza: rgb(70, 69, 69);
--fundo: #bdbdbd;
--darkreader-background-bdbdbd: #3d4245;
--background-fdfbfb: #241212;
--caixas: rgb(253, 251, 251);
--background-d6d4d4: #303436;
--darkreader-text-333333: #c8c3bc;
--darkreader-background-bdbdbd: #3d4245;
--background-e9e4e4: #26292b;
--shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


body{
  box-sizing: border-box;
  position: relative;
  font-family: Inter,system-ui,-apple-system,Segoe UI,sans-serif;
background-color: #fff8ef;
;
   margin: 0;
    padding: 0;
            font-size: 16px;
            line-height: 1.7;
            color: var(--darkreader-text-333333);
          }
.bannersanditems{
height: 800px;
width: 100%;
background-color: antiquewhite;
display: flex;
  align-items: center;

}

.textandtags{
  color: black;
  margin-left: 5%;
  width: 40%;
  height: 700px;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 10%;
}
.textandtags h2{
 font-size: clamp(2.2rem,6vw,5rem);
  line-height: .95;
  margin: 10px 0 20px;
}
.textandtags p{
  margin-right: 78%;
color: #6b534b;
font-size: 20px;
}

.tags{
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  border-radius: 999px;
width: 15%;
display: flex;
justify-content: center;
margin-top: 40px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.link{
  background-color: red;
}
.imganditems{
width: 30%;
background-color: #231814;
display: flex;
flex-direction: column;
padding: 10px 20px 80px;
margin-left: 5%;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transform: rotate(2.1deg);
}
.queijo{
  border: 1px solid transparent;
  border-radius: 30px;
width: 100%;
}
.imganditems strong{
  margin-top: 25px;
  color: white;
}
.items{
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.itemscoisas{
  background-color: white;
  width: 25%;
  color: black;
  margin-right: 20px;
  height: 120px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 20px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.initemscoisas{

  margin-left: 40px;
}
.initemscoisas p{
  color: var(--cinza);
  font-size: 17px;
}
.allitems{
  display: flex;
  width: 100%;
  justify-content: center;
}
.promo{
display: flex;
flex-direction: column;
height: 600px;
width: 100%;
align-items: center;
justify-content: center;
margin-top: 100px;

}

.promoitems{
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: rgb(66, 45, 4);
  width: 15%;
  margin-right: 20px;
  height: 450px;
  box-shadow: var(--shadow);
display: flex;
flex-direction: column;
padding: 20px;
}
.promoitems:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.imgdestaque{
  border-radius: 10px;
width: 100%;
}

.precos{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.pedido{
  background-color: red;
  color: white;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 40%;
}
.alignitems{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
width: 100%;
align-items: center;
}


.alignitems h3{
color: yellow;
font-size: 30px;
text-decoration: underline;
}
.precoantigo{
  margin-top: 30px;
  height: 50px;
  width: 100%;
}
.fullallpromo{
  display: flex;
  justify-content: center;
}




@media only screen and (max-width: 599px) {
 .bannersanditems{
  display: flex;
  flex-direction: column;
 }
 .textandtags{
margin-left: 0px;
width: 100%;
margin-top: 100px;
justify-content: center;
align-items: center;
display: flex;
 }
 .imganditems{
width: 60%;
    padding: 5px 20px 40px;
    transform: rotate(0deg);
 }
 .tags{
  width: 30%;

 }
 .textandtags h2{
  margin-left: 10%;
 }
 
 .textandtags p{
  margin-left: 60%;
  display: flex;
 }

 
 
  .items{
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 100%;
    height: 280px;
  }
  .allitems{
    align-items: center;
margin-left: -90px;
display: flex;
flex-direction: column;

  }
  .itemscoisas{
display: flex;
width: 80%;
margin-bottom: 20px;
  }
  .initemscoisas{
  margin-left: 40px;
display: flex;
flex-direction: column;
  }
.promoitems{
  width: 55%;
  margin-bottom: 20px;
}
.promo{
  margin-top: 300px;
}
.fullallpromo{
  align-items: center;
  display: flex;
  flex-direction: column;
}

}
