*{
margin-top: 0px;

}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root{
--vinho: #7A1F2B;
/* letra cursiva*/
--vibes:'Great Vibes', cursive;
--cinza: rgb(70, 69, 69);
--fundo: #bdbdbd;
--darkreader-background-bdbdbd: #3d4245;
--background-fdfbfb: #241212;
--caixas: rgb(253, 251, 251);
--background-d6d4d4: #303436;
--darkreader-text-333333: #c8c3bc;
--darkreader-background-bdbdbd: #3d4245;
--background-e9e4e4: #26292b;
}


body{
      box-sizing: border-box;
position: relative;
font-family: Inter,system-ui,-apple-system,Segoe UI,sans-serif;
background-color: #fff8ef;
;
   margin: 0;
    padding: 0;
            font-size: 16px;
            line-height: 1.7;
            color: var(--darkreader-text-333333);
}
.bannersanditems{
height: 800px;
width: 100%;
background-color: antiquewhite;
display: flex;
  align-items: center;

}

.textandtags{
  color: black;
  margin-left: 5%;
  width: 40%;
  height: 700px;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 10%;
}
.textandtags h2{
 font-size: clamp(2.2rem,6vw,5rem);
  line-height: .95;
  margin: 10px 0 20px;
}
.textandtags p{
  margin-right: 78%;
color: #6b534b;
font-size: 20px;
}

.tags{
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  border-radius: 999px;
width: 15%;
display: flex;
justify-content: center;
margin-top: 40px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.link{
  background-color: red;
}
.imganditems{
width: 30%;
background-color: #231814;
display: flex;
flex-direction: column;
padding: 10px 20px 80px;
margin-left: 5%;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transform: rotate(2.1deg);
}
.queijo{
  border: 1px solid transparent;
  border-radius: 30px;
width: 100%;
}
.imganditems strong{
  margin-top: 25px;
  color: white;
}
.items{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.itemscoisas{
  background-color: white;
  width: 25%;
  color: black;
  margin-right: 20px;
  height: 120px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 20px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.initemscoisas{

  margin-left: 40px;
}
.initemscoisas p{
  color: var(--cinza);
  font-size: 17px;
}
.allitems{
  display: flex;
  width: 100%;
  justify-content: center;
}







@media only screen and (max-width: 599px) {
 
 
 
 
 
 
 
 
  .items{
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 100%;
    height: 600px;
  }
  .allitems{
    align-items: center;
margin-left: -90px;
display: flex;
flex-direction: column;

  }
  .itemscoisas{
display: flex;
width: 80%;
margin-bottom: 20px;
  }
  .initemscoisas{
  margin-left: 40px;
display: flex;
flex-direction: column;
  }
}
