*{
margin: 0px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}




.header {
    
    height: 56px;
    padding: 20px;
    background: rgba(16, 7, 4, .92);
    border-bottom: 3px solid #d4a017;
    width: auto;
    display: flex;

}
header a{

text-decoration: none;
}
.logo{
    width: 60px;
    margin-right: 20px;
}
