/* Cabeçalho */
*{
margin: 0px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}




.header {
    
    height: 56px;
    opacity: 0.7;
    padding: 20px;
    background: rgba(16, 7, 4, .92);
    border-bottom: 3px solid #d4a017;
    width: auto;
    border: #ff0e0e solid 4px;
    display: flex;
}
header a{

text-decoration: none;
}
.logo{
    width: 60px;
    margin-right: 20px;
}



















/*penultimo rodape*/


 .dntcr{

background-color: rgb(172, 171, 171);
color: black;
height: auto;
margin-top: 1529px;
display: grid;
position: relative;

justify-items: center;

}

.duasd{
  display: grid;
  justify-items: center;
grid-template-columns:    1.5fr 2fr;

}
.datas1, .datas2{
margin-left: 60px;

}

.p1{
    font-family: "Open Sans", Sans-serif;
font-size: 17px;
}
.p2{

color: #3A424E;

}
.p1, .p2{
margin-left: -40px;

}


.fa-clock{
margin-left: -40;

}

.imagemnado{
width: 100%;
height: 100px;

}
/*cabo aqui */






/*ultimo rodape */

.kkk{
display: grid;
grid-template-columns: repeat(4, 200px);
gap: 20px;
align-items: start;
width: 100%;
padding: 20px;
box-sizing: border-box;
background-color: #3A424E;

}

.paginação{
display: flex;
flex-direction: column;
gap: 10px;
}
.other{
display: flex;
flex-direction: column;
gap: 10px;
}


.paginação ul{
margin-left: 220px;
}


.history ul{
  display: flex;
flex-direction: row;

}

.history li{
padding: 5px;
}

li{
list-style-type: none;
margin-bottom: 10px;
}

.flexado{
display: flex;
flex-direction: row;
}


@media only screen and (max-width: 599px) {
.duasd{
display: flex;
flex-direction: column;
}




}